{{! Features Tab }}
<section class='tab features scrollable {{tab.cssClass}}' data-group='primary' data-tab='features'>
  <section class='grid grid-3col'>
    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. }}
      <div class='abilities flexcol'>
        {{#each system.abilities as |ability key|}}
        <div class='ability flexrow flex-group-center'>
          <label class='resource-label rollable flexlarge align-left' data-action='roll'
            data-roll='d10+@abilities.{{key}}.value'
            data-label='{{localize (lookup @root.config.abilities key)}}'>{{localize (lookup @root.config.abilities
            key)}}</label>
          <input class="align-center" type='text' name='system.abilities.{{key}}.value' value='{{ability.value}}'
            class="ability-score" data-dtype='Number' />
          <span class='ability-mod rollable' data-action='roll' data-roll='d10+@abilities.{{key}}.mod'
            data-label='{{localize (lookup @root.config.abilities key)}}'>{{numberFormat ability.mod decimals=0
            sign=true}}</span>
        </div>
        {{/each}}
      </div>
    </aside>

    {{! For the main features list, span the right two columns }}
    <section class='main grid-span-2'>
      <div class='resources grid grid-4col'>
        <div class='resource flex-group-center'>
          <label for='system.health.value' class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.combatRolls.strike.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.combatRolls.strike'
              value='{{system.combatRolls.strike}}' data-dtype='Number' readonly="true" />
          </div>
        </div>

        <div class='resource flex-group-center'>
          <label for='system.ki.value' class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.combatRolls.dodge.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.combatRolls.dodge' value='{{system.combatRolls.dodge}}'
              data-dtype='Number' readonly="true" />
          </div>
        </div>

        <div class='resource flex-group-center'>
          <label class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.combatRolls.wound.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.combatRolls.wound.maxWound'
              value='{{system.combatRolls.wound.maxWound}}' data-dtype='Number' readonly="true" />
          </div>
        </div>

        <div class='resource flex-group-center'>
          <label class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.soak.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.soak' value='{{system.soak}}' data-dtype='Number'
              readonly="true" />
          </div>
        </div>
      </div>

      <hr>

      <div class='resources grid grid-4col'>
        <div class='resource flex-group-center'>
          <label for='system.health.value' class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.awareness.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.awareness' value='{{system.awareness}}'
              data-dtype='Number' readonly="true" />
          </div>
        </div>

        <div class='resource flex-group-center'>
          <label for='system.ki.value' class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.defenseValue.abbr'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.defenseValue' value='{{system.defenseValue}}'
              data-dtype='Number' readonly="true" />
          </div>
        </div>

        <div class='resource flex-group-center'>
          <label class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.initiative.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.initiative' value='{{system.initiative}}'
              data-dtype='Number' readonly="true" />
          </div>
        </div>

        <div class='resource flex-group-center'>
          <label class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.damageReduction.abbr'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.damageReduction' value='{{system.damageReduction}}'
              data-dtype='Number' readonly="true" />
          </div>
        </div>
      </div>

      <hr>
      <div class='resources grid grid-4col'>
        <div class='resource flex-group-center'>
          <label class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.might.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.might' value='{{system.might}}' data-dtype='Number'
              readonly="true" />
          </div>
        </div>

        <div class='resource flex-group-center'>
          <label class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.superStack.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.superStack.amount' value='{{system.superStack.amount}}'
              data-dtype='Number' readonly="true" />
          </div>
        </div>

        <div class='resource flex-group-center'>
          <label class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.speed.normalSpeed.abbr'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.speed.normalSpeed' value='{{system.speed.normalSpeed}}'
              data-dtype='Number' readonly="true" />
          </div>
        </div>

        <div class='resource flex-group-center'>
          <label class='resource-label'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.speed.boostedSpeed.abbr'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input class="align-center" type='text' name='system.speed.boostedSpeed'
              value='{{system.speed.boostedSpeed}}' data-dtype='Number' readonly="true" />
          </div>
        </div>
      </div>

      <hr>
      {{! Div for Saving Throws}}
      <div class='resources grid grid-4col'>
        {{#each system.savingThrows as |savingThrow key|}}
        <div class='resource flex-group-center'>
          <label class='resource-label' data-label='{{localize (lookup @root.config.savingThrows key)}}'>{{localize
            (lookup @root.config.savingThrows
            key)}}</label>
          <input class="align-center" type='text' name='system.savingThrows.{{key}}' value='{{savingThrow}}'
            data-dtype='Number' readonly="true" />
        </div>
        {{/each}}
      </div>

    </section>
  </section>
</section>