{{! Transformations Tab }}
<section class='tab transformations scrollable {{tab.cssClass}}' data-group='primary' data-tab='transformations'>
  <section class='grid grid-3col'>
    <aside class='sidebar' style='height:100%'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. }}
      <div class='abilities flexcol'>
        {{#each system.abilities as |ability key|}}
        <div class='ability flexrow flex-group-center'>
          <label class='resource-label flexlarge align-left'>{{localize (lookup
            @root.config.abilities
            key)}}</label>
          <input class="align-center" type='text' name='system.abilities.{{key}}.transformationMod'
            value='{{ability.transformationMod}}' class="ability-score" />
        </div>

        {{#if (eq key 'pe')}}
        
        {{else}}
        <br>
        {{/if}}
        {{/each}}

        <hr>

        <div class='ability flexrow flex-group-center'>
          <label class='resource-label flexlarge align-left'>
            {{localize 'DRAGON_BALL_UNIVERSE.Actor.base.FIELDS.stressBonus.label'}}
          </label>
          <span class='ability-mod'>{{numberFormat system.stressBonus decimals=0
            sign=true}}</span>
        </div>
      </div>
    </aside>

    {{! For the main features list, span the right two columns }}
    <section class='main grid-span-2'>
      {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
      {{#if editable}}
      <prose-mirror name="system.transformationTabDescription" data-document-uuid="{{actor.uuid}}"
        value="{{system.transformationTabDescription}}" collaborate="true" toggled="true">
        {{{enrichedTransformationInformation}}}
      </prose-mirror>
      {{else}} {{{enrichedTransformationInformation}}}
      {{/if}}
    </section>
  </section>